examples/node-red-contrib-ui-popup_colortemp.json
[
    {
        "id": "7675fd4086b287db",
        "type": "ui_popup-colortemp",
        "z": "e0fb581434c25cc7",
        "order": 7,
        "name": "",
        "group": "64704468.613964",
        "width": 1,
        "height": 1,
        "class": "",
        "position": "br",
        "label": "colortemp",
        "rangeStart": "1000",
        "rangeStartType": "num",
        "rangeEnd": "15000",
        "rangeEndType": "num",
        "unitKelvin": true,
        "labelCancelButton": "cancel",
        "labelOkButton": "ok",
        "payload": "payload",
        "payloadType": "msg",
        "sendValueTo": "payload",
        "sendValueToType": "msg",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "360e58314340a11c"
            ]
        ]
    },
    {
        "id": "aece9e547626edd8",
        "type": "inject",
        "z": "e0fb581434c25cc7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2700,100",
        "payloadType": "str",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "0b631bde0fa8b38c"
            ]
        ]
    },
    {
        "id": "0b631bde0fa8b38c",
        "type": "function",
        "z": "e0fb581434c25cc7",
        "name": "store colortemp",
        "func": "context.value = context.value || \"5000,100\";\nif (msg.payload != \"open dialog\") {\n    context.value = msg.payload;\n} else {\n    return {payload: context.value};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "7675fd4086b287db"
            ]
        ]
    },
    {
        "id": "0c9658f790ad4f2f",
        "type": "ui_button",
        "z": "e0fb581434c25cc7",
        "name": "",
        "group": "64704468.613964",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "set colortemp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "open dialog",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "0b631bde0fa8b38c"
            ]
        ]
    },
    {
        "id": "360e58314340a11c",
        "type": "debug",
        "z": "e0fb581434c25cc7",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "64704468.613964",
        "type": "ui_group",
        "name": "Default Group",
        "tab": "ef22f042.de6a1",
        "order": 1,
        "disp": true,
        "width": "9"
    },
    {
        "id": "ef22f042.de6a1",
        "type": "ui_tab",
        "name": "Home Tab",
        "icon": "dashboard"
    }
]