examples/node-red-contrib-ui-popup_dropdown.json
[
    {
        "id": "181eee8add84f95a",
        "type": "debug",
        "z": "e0fb581434c25cc7",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "f3a777ecf304ce4a",
        "type": "ui_popup-dropdown",
        "z": "e0fb581434c25cc7",
        "order": 5,
        "name": "",
        "group": "64704468.613964",
        "width": 1,
        "height": 1,
        "class": "",
        "position": "man",
        "posX": "event.bbox[2]",
        "posXType": "msg",
        "posY": "event.bbox[3]",
        "posYType": "msg",
        "options": [
            {
                "label": "on/off",
                "icon": "fa-power-off",
                "topic": "power",
                "topicType": "str",
                "payload": "toggle",
                "payloadType": "str"
            },
            {
                "label": "color",
                "icon": "fa-tint",
                "topic": "color",
                "topicType": "str",
                "payload": "set color",
                "payloadType": "str"
            }
        ],
        "sendValueTo": "payload",
        "sendValueToType": "msg",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "117b02c0620698ee"
            ]
        ]
    },
    {
        "id": "8ff9c875028c313b",
        "type": "ui_button",
        "z": "e0fb581434c25cc7",
        "name": "",
        "group": "64704468.613964",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "dropdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "open dialog",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "f3a777ecf304ce4a"
            ]
        ]
    },
    {
        "id": "117b02c0620698ee",
        "type": "switch",
        "z": "e0fb581434c25cc7",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "color",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "181eee8add84f95a"
            ],
            [
                "0a70f557f2434e1a"
            ]
        ]
    },
    {
        "id": "0a70f557f2434e1a",
        "type": "debug",
        "z": "e0fb581434c25cc7",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 740,
        "wires": []
    },
    {
        "id": "64704468.613964",
        "type": "ui_group",
        "name": "Default Group",
        "tab": "ef22f042.de6a1",
        "order": 1,
        "disp": true,
        "width": "9"
    },
    {
        "id": "ef22f042.de6a1",
        "type": "ui_tab",
        "name": "Home Tab",
        "icon": "dashboard"
    }
]